.container {
  text-align: center;
  height: 100vh;
}

.playground {
  background-color: #abcff7;
  height: calc(100% - 200px);
}

.control {
  background-color: #037bfe;
  height: 200px;
}

.heading {
  margin: 0;
}
